{% extends "base.html" %}

{% block title %}Add Task{% endblock %}

{% block content %}

<h1>Add Task</h1>

<form method="POST">

    <label>Title</label><br>
    <input type="text" name="title" required><br><br>

    <label>Description</label><br>
    <textarea name="description"></textarea><br><br>

    <label>Due Date</label><br>
    <input type="date" name="due_date"><br><br>

    <label>Priority</label><br>
    <select name="priority">
        <option>Low</option>
        <option>Medium</option>
        <option>High</option>
    </select><br><br>

    <button type="submit">Save Task</button>

</form>

{% endblock %}